# Force GitHub to correctly detect languages used in this project

# Python (Flask backend)
metricsbackend/* linguist-language=Python

# JavaScript/JSX (React frontend)
metricsfrontend/src/* linguist-language=JavaScript
metricsfrontend/src/**/*.jsx linguist-language=JavaScript

# Tailwind (CSS)
metricsfrontend/src/**/*.css linguist-language=CSS
