# Force GitHub to correctly detect languages used in this project

# Flask backend
metricsbackend/**/*.py linguist-language=Python

# React frontend
metricsfrontend/**/*.js linguist-language=JavaScript
metricsfrontend/**/*.jsx linguist-language=JavaScript

# Tailwind CSS
metricsfrontend/**/*.css linguist-language=CSS
